<!-- tournament-list.component.html -->
<div class="tournament-list-container">
  <div *ngIf="tournaments.length === 0" class="no-data">
    Aucun tournoi disponible.
  </div>

  <div class="tournament-list">
    <div *ngFor="let tournament of tournaments"
         class="tournament-card"
         (click)="onSelect(tournament)">
      <div class="tournament-card-body">
        <p>{{ tournament.description | slice:0:100 }}{{ tournament.description.length > 100 ? '...' : '' }}</p>
        <div class="tournament-details">
          <div>Lieu: {{ tournament.address }}</div>
          <div>Du: {{ tournament.startTime | timeFormat }}</div>
          <div>Au: {{ tournament.endTime | timeFormat }}</div>
          <div>Max participants: {{ tournament.maxPlayers }}</div>
        </div>
      </div>
      <div *ngIf="!readOnly" class="tournament-card-actions">
        <button class="delete-btn" (click)="onDelete(tournament.uuid!, $event)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
