<div class="flex justify-between items-center w-full">
  <div class="flex items-center overflow-hidden" (click)="select.emit(player)">
    <div class="player-avatar">
      <div class="player-initials">{{ player.firstName.charAt(0) }}{{ player.lastName.charAt(0) }}</div>
    </div>
    <div class="ml-4 overflow-hidden">
      <div class="font-medium text-gray-900">{{ player.firstName }} {{ player.lastName }}</div>
      <div class="text-sm text-gray-600 truncate">{{ player.email }}</div>
    </div>
  </div>
  <div class="flex space-x-2">
    <button (click)="select.emit(player)"
            class="action-button bg-whist-secondary-light hover:bg-whist-secondary text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
      </svg>
    </button>
    <button (click)="deleteClick($event)"
            class="action-button bg-red-100 hover:bg-red-200 text-red-600">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
      </svg>
    </button>
  </div>
</div>
