<div class="container mx-auto p-4 max-w-4xl">
  <h1 class="text-2xl font-bold mb-6">Gestion des joueurs</h1>

  <app-player-error-alert
    [error]="playerFacade.error$ | async"
    (dismiss)="onDismissError()">
  </app-player-error-alert>

  <div class="mb-8 bg-white p-6 rounded-lg shadow-sm border border-gray-200">
    <h2
      class="text-lg font-semibold mb-4">{{ (playerFacade.selectedPlayer$ | async) ? 'Modifier un joueur' : 'Ajouter un joueur' }}</h2>

    <app-player-form
      [player]="playerFacade.selectedPlayer$ | async"
      (save)="onSavePlayer($event)"
      (cancel)="onCancel()">
    </app-player-form>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-200">
    <h2 class="text-lg font-semibold mb-4">Liste des joueurs</h2>

    <app-loader *ngIf="playerFacade.loading$ | async"></app-loader>

    <app-player-list
      *ngIf="!(playerFacade.loading$ | async)"
      [players]="playerFacade.players$ | async"
      (selectPlayer)="onSelectPlayer($event)"
      (deletePlayer)="onDeletePlayer($event)">
    </app-player-list>
  </div>
</div>
