<div class="championship-week-list-container">
  <div class="header">
    <h1>Semaines de championnat</h1>

    <div class="actions">
      <div class="filters">
        <label for="seasonSelect">Saison:</label>
        <select id="seasonSelect" [(ngModel)]="selectedSeason" (change)="onSeasonChange(selectedSeason)">
          <option *ngFor="let season of seasons" [value]="season">{{ season }}</option>
        </select>
      </div>

      <button (click)="navigateToRankings(selectedSeason)" class="rankings-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"/>
        </svg>
        Voir le classement
      </button>

      <button *ngIf="authFacade.isAuthenticated$ | async" (click)="addChampionshipWeek()" class="add-week-button">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
        </svg>
        Ajouter une semaine
      </button>
    </div>
  </div>

  <ng-container *ngIf="loading$ | async; else content">
    <div class="loading-indicator">
      Chargement des semaines de championnat...
    </div>
  </ng-container>

  <ng-template #content>
    <ng-container *ngIf="(championshipWeeks$ | async)?.length === 0; else weekTable">
      <div class="empty-state">
        Aucune semaine de championnat trouvée pour la saison {{ selectedSeason }}.
      </div>
    </ng-container>

    <ng-template #weekTable>
      <div *ngIf="authFacade.isAuthenticated$ | async" class="legend-container">
        <div class="legend-item">
          <span class="warning-icon">⚠️</span>
          <span>Semaines avec des annonces incomplètes ou des points manquants</span>
        </div>
      </div>

      <div class="week-list">
        <table>
          <thead>
          <tr>
            <th>Semaine #</th>
            <th>Date</th>
            <th>Description</th>
            <th [attr.colspan]="(authFacade.isAuthenticated$ | async) ? 1 : 2">Nb. joueurs</th>
            <th *ngIf="authFacade.isAuthenticated$ | async">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let week of championshipWeeks$ | async"
              (click)="navigateToDetail(week.uuid)"
              class="week-row"
              [class.incomplete-week]="!week.allAnnouncementsComplete && !week.encodingComplete">
            <td>
              <span
                *ngIf="(authFacade.isAuthenticated$ | async) && !week.allAnnouncementsComplete && !week.encodingComplete"
                class="warning-icon"
                title="Annonces incomplètes">⚠️</span>
              {{ week.weekNumber }}
            </td>
            <td>{{ week.date | date:'dd/MM/yyyy' }}</td>
            <td>{{ week.description }}</td>
            <td>{{ week.playerScores?.length }}</td>
            <td>
              <div *ngIf="authFacade.isAuthenticated$ | async" class="actions">
                <button *ngIf="authFacade.isAuthenticated$ | async" class="edit-btn"
                        (click)="$event.stopPropagation(); onEditWeek(week, $event)"
                        title="Modifier cette semaine">
                  <span>✏️</span>
                </button>
                <button *ngIf="authFacade.isAuthenticated$ | async" class="delete-btn"
                        (click)="$event.stopPropagation(); onDeleteWeek(week, $event)"
                        title="Supprimer cette semaine">
                  <i class="fas fa-trash-alt text-red-500"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ng-template>
</div>

<!-- Popup de création -->
<app-championship-week-create
  *ngIf="showCreateForm"
  (close)="onCloseCreate()"
  (created)="onWeekCreated($event)">
</app-championship-week-create>

<app-confirmation
  *ngIf="showConfirmation"
  title="Supprimer la semaine de championnat"
  message="Êtes-vous sûr de vouloir supprimer cette semaine ? Toutes les données associées seront définitivement perdues."
  confirmButtonText="Supprimer"
  (confirm)="confirmDelete()"
  (cancel)="closeConfirmation()">
</app-confirmation>

<!-- Popup d'édition -->
<app-championship-week-edit
  *ngIf="showEditForm"
  [week]="weekToEdit"
  (close)="showEditForm = false; weekToEdit = null"
  (saved)="onWeekUpdated($event)">
</app-championship-week-edit>
