<!-- src/app/pages/tournaments/pages/tournament-admin/tournament-admin.component.html -->
<div class="tournament-admin-container">
  <h1>Administration des Tournois</h1>

  <app-tournament-form
    [tournament]="selectedTournament"
    (saveTournament)="onSaveTournament($event)"
    (cancelEdit)="onCancelEdit()">
  </app-tournament-form>

  <div class="tournament-list-section">
    <h2>Liste des tournois</h2>
    <app-tournament-list
      [tournaments]="tournamentFacade.tournaments$ | async | nullToEmpty"
      [readOnly]="true"
      (selectTournament)="onTournamentSelected($event)">
    </app-tournament-list>
  </div>
</div>
